In [1]:
# datasets 모듈 : 사이킷런의 여러 예제 데이터가 들어있다.
from sklearn.datasets import load_iris

In [2]:
iris_dataset = load_iris()
type(iris_dataset) # Bunch는 딕셔너리랑 비슷한데 더 효율적인 타입

sklearn.utils._bunch.Bunch

In [3]:
# Feature는 data 키에 들어있다.
iris_dataset.data[:3]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2]])

In [4]:
iris_dataset.data.shape

(150, 4)

In [5]:
# Target
iris_dataset.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [7]:
# 클래스 확인
iris_dataset.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
#Feature 이름 확인
iris_dataset.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

## 깔끔하게 데이터 프레임으로 정리

In [ ]:
import pandas as pd

iris_df = pd.DataFrame(
    data = iris_dataset.data,
    columns = iris_dataset.feature_names
)
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [13]:
iris_df['target'] = iris_dataset.target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [15]:
# 분류 문제에서 가장 중요하게 확인해야 할 내용 : Target의 개수 확인
iris_df['target'].value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64